* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    margin: 0px 60px 60px 60px;
  }

  /* .product {
      height: 160px;
      width: 300px;
      background-color: rgb(139, 29, 29);
    border-radius: 8px;
    padding: 16px;
  } */